:host(.tx-tabs) {
    position: relative;
    display: block;
    box-sizing: border-box;
}
:host(.tx-tabs) > ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:host(.tx-tabs.tx-vertical) > ul {
    border-left: 2px solid var(--tx-gray-200);
}

:host(.tx-tabs.tx-vertical) > ul {
    flex-direction: column;
}

:host(.tx-tabs) > ul > li {
    box-sizing: border-box;
    list-style: none;
}

:host(.tx-tabs) > ul > li > span {
    display: block;
    list-style: none;
    font-weight: 500;
    margin: 8px 12px 8px 12px;
    color: var(--tx-gray-700);
    cursor: pointer;
}

:host(.tx-tabs.tx-vertical) > ul > li > span {
    margin: 0;
    padding: 12px 8px 12px 8px;
}

:host(.tx-tabs) > ul > li > span.active {
    color: var(--tx-gray-900);
}
:host(.tx-tabs) > ul > li > span:hover {
    color: var(--tx-gray-900);
}

/* the div is the moving line */

:host(.tx-tabs:not(.tx-vertical)) > div  {
  position: absolute;
  bottom: 0;
  transition: left 0.5s ease-in-out, width 0.5s 0.10s;
  height: 2px;
  background-color: var(--tx-gray-900);
  left: 12px;
  width: 0px;
  pointer-events: none;
}

:host(.tx-tabs.tx-vertical) > div  {
    position: absolute;
    left: 0;
    transition: top 0.5s ease-in-out, height 0.5s 0.10s;
    height: 0px;
    background-color: var(--tx-gray-900);
    top: 8px;
    width: 2px;
    pointer-events: none;
  }